:root {
  --main-dark: #000000;
  --main-light: #e2e2e2;
  --main-green: #228b22;
  --main-red: #cd5c5c;
  --main-blue: #87cefa;

  --dark-green: #0c4e0c;
  --dark-red: #792222;
  --dark-blue: #1a6899;

  --border-radius: 5px;
  --transition: all 0.3s ease-in-out;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}
