.field {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.fieldInner {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.choice {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.positions {
  display: flex;
  gap: 30px;
  margin: 20px 0;
}

.playButton,
.resetButton {
  font-size: 1.8rem;
  padding: 0.8em 1.3em;
  text-transform: uppercase;
  background: var(--main-dark);
  color: var(--main-light);
  border: 2px solid var(--main-light);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: var(--transition);

  &:hover:enabled {
    background: var(--main-light);
    color: var(--main-dark);
    border: 2px solid var(--main-dark);
  }

  &:disabled {
    cursor: initial;
    opacity: 0.5;
  }
}

.resetButton {
  font-size: 1.8rem;
  text-transform: uppercase;
  background: var(--main-red);
  color: var(--main-dark);
  border-radius: var(--border-radius);
  border: 2px solid var(--main-light);

  &:hover:enabled {
    background: var(--main-red);
    color: var(--main-dark);
    border-radius: var(--border-radius);
  }
  &:disabled {
    cursor: initial;
    opacity: 0.5;
  }
}
